#encoding=UTF-8

#********************************************************************
# Wrapper App Properties
#********************************************************************
set.APP_NAME={{.Prop.AppName}}
set.APP_LONG_NAME={{.Prop.AppLongName}}
set.APP_DESC={{.Prop.AppDesc}}
set.RUN_AS_USER={{.Prop.RunAsUser}}
